<div class="col-md-10 offset-md-1">
  <h1 class="text-left display-4 mt-5 mb-5">Edit <%= @content.category.upcase_first %></h1>

  <%= form_for @content do |form| %>
    <% if(@content.errors.any?) %>
      <div class="alert alert-danger pb-0 pt-0">
        <ul class="list-unstyled mb-2">
        <% @content.errors.full_messages.each do |message| %>
          <li class="mt-2"><%= message %></li>
        <% end %>
        </ul>
