log/development.log
log/test.log
tmp/*
db/development.sqlite3
*.sqlite3
public/uploads/*
public/assets

/log/* 
/tmp/* 
!/log/.keep 
!/tmp/.keep

# Ignore application configuration
/config/application.yml
