<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.name %>,</p>
    <p>I am sorry to inform you that you have been banned from application because of the reason that has written bellow;</p>
    <ul>
      <% for reason in @reason %>        
          <li><%= reason.upcase_first %></li>
      <% end %>
    </ul>
      
    <p>If you would like to talk about it, feel free to contact with us.</p>
    <p>Have a great day!</p>
  </body>
  ------------------------<br>
  <%= @admin.name %>,<br>
  ManAnime Team<br>
  ------------------------
  <p>Please do not reply this message, you can reach us via <a class="p-0" href="https://fast-mesa-32880.herokuapp.com/en/contact"> Contact Form </a></p>
</html>
