<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @contact.name %></h1>
    <p>
      We got your mail about <%= @contact.topic %>. Thanks for writing us!<br>
    </p>
    <p>We will write you back as soon as possible!</p>
    <p>Wish you a great day!</p>
  </body>
  ------------------------<br>
  ManAnime Team<br>
  ------------------------
  <p>Please do not reply this message, you can reach us via <a class="p-0" href="https://fast-mesa-32880.herokuapp.com/en/contact"> Contact Form </a></p>
</html>
