<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ManAnime</h1>
    <p>
      You have successfully signed up to ManAnime<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
  ------------------------<br>
  ManAnime Team<br>
  ------------------------
  <p>Please do not reply this message, you can reach us via <a class="p-0" href="https://fast-mesa-32880.herokuapp.com/en/contact"> Contact Form </a></p>
</html>
