<div class="col-md-6 offset-md-3">
  <h1 class="text-left display-4 mt-5 mb-5">Log in</h1>

  <form>
    <fieldset class="form-group">
      <label for="login_email">Email address</label>
      <input type="email" class="form-control" id="login_email" aria-describedby="emailHelp">
    </fieldset>
    
    <fieldset class="form-group">
      <label for="login_pass">Password</label>
      <input type="password" class="form-control" id="login_pass">
    </fieldset>
    
    <fieldset>
      <button type="submit" class="btn btn-first btn-block">Login</button>
    </fieldset>
  </form>
</div>
