<div class="col-md-6 offset-md-3">
  <h1 class="text-left display-4 mt-5 mb-5">Edit User</h1>

  <form>
    <fieldset class="form-group">
      <label for="name">New name</label>
      <input type="text" class="form-control" id="name">
    </fieldset>

    <fieldset class="form-group">
      <label for="avatar">New Avatar URL</label>
      <input type="text" class="form-control" id="avatar">
    </fieldset>

    <fieldset class="mt-4">
      <button type="submit" class="btn btn-first btn-block">Update</button>
    </fieldset>
  </form>
</div>
