<img src="https://cdnb.artstation.com/p/assets/images/images/013/162/715/large/muzu-violet-evergarden-by-muzuart.jpg?1564079658" class="card-img" alt="...">
<h3>User name here</h3>
<%= link_to 'Edit', '', class: 'btn' %>
<button type="submit" class="btn">Delete</button>
<p>User_name here has watched 9 anime.s and has read 3 manga.s until now. </p>
<p>User-name has made a comment on @manga-anime.</p>
<small>Last updated 3 mins ago</small>
