<div class="container col-md-10">
  <p class="mt-5">I am Yekta Turan, the creator of this application. </p>
  <p class="mt-2">I created this application as my capstone project to show that I am able to use most of the components that I have learned from the Web Application Development program that is given by EPFL - Extension School.</p>
  <p class="mt-2">The information about characters and descriptions of the animes and mangas has been taken from <a href="https://anilist.co/" class="p-0" target="blank">anilist.co.</a></p>

  <h6 class="mt-2">What is the purpose of the application?</h6>
  <p class="mt-2">In this application, I aimed;</p>
  <ul class="ml-2 mt-2 list-unstyled">
    <li>- to present animes with the following details;
      <p class="m-0 ml-3">episode numbers,</p>
      <p class="m-0 ml-3">season numbers,</p>
      <p class="m-0 ml-3">the season in which they have been published or will be published,</p>
      <p class="m-0 ml-3">the start date and if it has, the end date,</p>
      <p class="m-0 ml-3">if it's available, a link to watch it online,</p>
      <p class="m-0 ml-3">the description of the anime,</p>
      <p class="m-0 ml-3">rating, if it has been rated enough times,</p>
      <p class="m-0 ml-3">its status as finished, airing, coming soon,</p>
      <p class="m-0 ml-3">its tags,</p>
      <p class="m-0 ml-3">its genres,</p>
      <p class="m-0 ml-3">the characters of the anime.</p>
    </li>

    <li class="mt-2">- to present mangas with the following details;
      <p class="m-0 ml-3">chapter numbers,</p>
      <p class="m-0 ml-3">volume numbers,</p>
      <p class="m-0 ml-3">the season in which they have been published or will be published,</p>
      <p class="m-0 ml-3">the start date and if it has, the end date,</p>
      <p class="m-0 ml-3">if it's available, a link to read it online,</p>
      <p class="m-0 ml-3">the description of the manga,</p>
      <p class="m-0 ml-3">rating, if it has been rated enough times,</p>
      <p class="m-0 ml-3">its status as finished, airing, coming soon,</p>
      <p class="m-0 ml-3">its tags,</p>
      <p class="m-0 ml-3">its genres,</p>
      <p class="m-0 ml-3">the characters of the manga.</p>
    </li>

    <li class="mt-2">- to present characters with following details;
      <p class="m-0 ml-3">name,</p>
      <p class="m-0 ml-3">if they have, surname,</p>
      <p class="m-0 ml-3">their appearances in animes and mangas,</p>
      <p class="m-0 ml-3">information about the character.</p>
    </li>

    <li class="mt-2">- to make a search for animes or mangas in the following attributes;
      <p class="m-0 ml-3">name,</p>
      <p class="m-0 ml-3">description,</p>
      <p class="m-0 ml-3">tags,</p>
      <p class="m-0 ml-3">season.</p>
      <p class="m-0 ml-3">* With advanced search, it is possible to make a search in more details, such as:
      you can choose one or more genre or you can search for animes and mangas that have been published after a specific date or you can combine them as you desire.</p>
    </li>

    <li class="mt-2">- to display most popular, most recent, and most popular & not completed animes on the Anime List page. These lists can contain 5 animes at maximum. I am also displaying all animes at the end of the page.</li>

    <li class="mt-2">- to display most popular, most recent, and most popular & not completed mangas on the Manga List page. These lists can contain 5 mangas at maximum. I am also displaying all mangas at the end of the page.</li>

    <li class="mt-2">- for users to be able to;
      <p class="m-0 ml-3">create and edit a profile,</p>
      <p class="m-0 ml-3">write comments, replies, reviews,</p>
      <p class="m-0 ml-3">add an anime or a manga to their lists,</p>
      <p class="m-0 ml-3">contact us regarding any issue.</p>
      <p class="m-0 ml-3">! Availablity in the application changes with user type. This part will be explained in the following section in detail.</p>
    </li>
  </ul>

  <h6 class="mt-2">What can you find in the application?</h6>
  <ul class="mt-2 pl-2">
    <li>
      <p>As an anonymous user, </p> 
      <p class="mb-0">You can</p>
      <p class="m-0">- see all the details of animes, mangas, characters, and user's profiles,</p>
      <p class="m-0">- make search through the application,</p>
      <p class="m-0">- see the lists of all animes and mangas,</p>
      <p class="m-0">- contact with us,</p>
      <p class="m-0">- see how the application works and what you should pay attention to while using the application,</p>
      <p>and finally .. you can create an account! </p>
      <h6>BUT</h6>
      <p class="mb-0">You cannot</p>
      <p class="m-0">- write a comment, a reply, or a review,</p>
      <p class="m-0">- vote any comment, </p>
      <p class="m-0">- add an anime or a manga to your list, </p>
      <p class="m-0">- report any comment. </p>
    </li>
    <li class="mt-3">
      <p>As a registered user, </p> 
      <p class="mb-0">You can</p>
      <p class="m-0">- do whatever an anonymous user can do, plus...</p>
      <p class="m-0">- log in to the application,</p>
      <p class="m-0">- go to your profile page,</p>
      <p class="m-0">- edit your profile,</p>
      <p class="m-0">- write a comment,</p>
      <p class="m-0">- delete a comment if it's yours,</p>
      <p class="m-0">- vote or report a comment unless it's yours,</p>
      <p class="m-0">- write a reply,</p>
      <p class="m-0">- delete a reply if it's yours,</p>
      <p class="m-0">- write a review with or without a rating,</p>
      <p class="m-0">- delete a review if it's yours,</p>
      <p>- you can be assigned as 'admin' by admins.</p>
      <h6>BUT</h6>
      <p class="mb-0">You cannot</p>
      <p class="m-0">- delete any other user's comments, replies, or reviews,</p>
      <p class="m-0 ml-2">* if you will delete your comment which has other user's replies under it, the replies will be deleted as well,</p>
      <p class="m-0">- add genre, character, anime, or manga to the application, </p>
      <p class="m-0">- edit character, anime or manga, </p>
      <p class="m-0">- block someone or make someone admin, </p>
      <p class="m-0">- see the report page. </p>
    </li>
    <li class="mt-3">
      <p>As an admin, </p> 
      <p class="mb-0">You can</p>
      <p class="m-0">- do whatever a registered user can do, plus...</p>
      <p class="m-0">- delete any comments, replies, reviews,</p>
      <p class="m-0 ml-2">* you can delete them if they're inappropriate. Other than that deleting someone else's comment, reply, or review is not allowed!</p>
      <p class="m-0">- add genre, character, anime, or manga to the application, </p>
      <p class="m-0">- edit character, anime or manga, </p>
      <p class="m-0">- block someone or make someone admin, </p>
      <p class="m-0">- see the report page. </p>
    </li>
  </ul>

</div>