<div class="container col-md-10">
  <p class="mt-5">I am Yekta Turan, the creator of this application. </p>
  <p class="mt-2">I create this application as my capstone project to show that I am able to use most of the components that I have learned from the Web Application Development program that is presented by EPFL - Extension School.</p>
  <h6 class="mt-2">What can you find in the application?</h6>
  <ul class="mt-2">
    <li>
      <p>As an anonymous user, </p> 
      <p class="mb-0">You can</p>
      <p class="m-0">- see all the details of animes, mangas, characters, and user's profiles,</p>
      <p class="m-0">- make search through the application,</p>
      <p class="m-0">- see the lists of all animes and mangas,</p>
      <p class="m-0">- contact with us,</p>
      <p class="m-0">- see how the application is working and what you should pay attention to while using the application,</p>
      <p>and finally .. you can create an account! </p>
      <h6>BUT</h6>
      <p class="mb-0">You cannot</p>
      <p class="m-0">- write a comment, a reply, or a review,</p>
      <p class="m-0">- vote any comment, </p>
      <p class="m-0">- add an anime or a manga to your list, </p>
      <p class="m-0">- report any comment. </p>
    </li>
    <li class="mt-3">
      <p>As a registered user, </p> 
      <p class="mb-0">You can</p>
      <p class="m-0">- do whatever an anonymous user can do, plus...</p>
      <p class="m-0">- log in to the application,</p>
      <p class="m-0">- go to your profile page,</p>
      <p class="m-0">- edit your profile,</p>
      <p class="m-0">- write a comment,</p>
      <p class="m-0">- delete a comment if it's yours,</p>
      <p class="m-0">- vote or report a comment unless it's yours,</p>
      <p class="m-0">- write a reply,</p>
      <p class="m-0">- delete a reply if it's yours,</p>
      <p class="m-0">- write a review with or without a rating,</p>
      <p class="m-0">- delete a review if it's yours,</p>
      <p>- you can be assigned as 'admin' by admins.</p>
      <h6>BUT</h6>
      <p class="mb-0">You cannot</p>
      <p class="m-0">- delete any other user's comments, replies, or reviews,</p>
      <p class="m-0 ml-2">* if you will delete your comment which has other user's replies under it, the replies will be deleted as well,</p>
      <p class="m-0">- add genre, character, anime, or manga to the application, </p>
      <p class="m-0">- edit character, anime or manga, </p>
      <p class="m-0">- block someone or make someone admin, </p>
      <p class="m-0">- see the report page, </p>
      <p class="m-0">- see the report page, </p>
    </li>
    <li class="mt-3">
      <p>As an admin, </p> 
      <p class="mb-0">You can</p>
      <p class="m-0">- do whatever a registered user can do, plus...</p>
      <p class="m-0">- delete any comments, replies, reviews,</p>
      <p class="m-0 ml-2">* you can delete them if they're inappropriate. Other than that deleting someone else's comment, reply, or review is not allowed!</p>
      <p class="m-0">- add genre, character, anime, or manga to the application, </p>
      <p class="m-0">- edit character, anime or manga, </p>
      <p class="m-0">- block someone or make someone admin, </p>
      <p class="m-0">- see the report page. </p>
    </li>
  </ul>

</div>