<div class="col-md-6 offset-md-3 mt-5">
  <h2 class="text-left mt-5 mb-5">Hello admin_name_here, <br> What do you want to add?</h2>

  <ul class="mt-3 mb-5 list-unstyled">
    <li><%= link_to 'Add Anime', '', class:'btn btn-first w-100 p-3' %></li>
    <li class="mt-5"><%= link_to 'Add Character', '', class:'btn btn-first w-100 p-3' %></li>
    <li class="mt-5"><%= link_to 'Add Genre', '', class:'btn btn-first w-100 p-3' %></li>
    <li class="mt-5"><%= link_to 'Add Manga', '', class:'btn btn-first w-100 p-3 mb-5' %></li>
  </ul>
</div>
