<div class="col-md-6 offset-md-3">
  <h2 class="text-left mt-5 mb-5">Tell us dear visitor/user_name, what do you want to talk about?</h2>
  <form>
    <fieldset class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    </fieldset>

    <fieldset class="form-group">
      <label for="mail_topic">Topic</label>
      <input type="text" class="form-control" id="mail_topic">
    </fieldset>

    <fieldset class="form-group">
      <label for="mail_content">Your message</label>
      <textarea type="text" class="form-control" id="mail_content"></textarea>
    </fieldset>

    <fieldset>
      <button type="submit" class="btn btn-first btn-block">Send it!</button>
    </fieldset>
  </form>
</div>