<h1>Reports</h1>

<div class="flex d-flex-column">
  <div class="flex d-flex-row">
      <p>This user has reported a comment about this anime.</p>
      <button type="submit" class="button-danger">Delete</button>
  </div>
</div>
