<h1 class="margin-top-1">Reports</h1>

<div class="flex d-flex-column">
  <div class="flex d-flex-row content-between align-center border-all">
    <div class="margin-1">
      <p class="margin-0">This user has reported a comment about this anime.</p>
    </div>
    <div class="left-border">
      <button type="submit" class="button-danger margin-1">Delete</button>
    </div>
  </div>
</div>

<div class="flex d-flex-column">
  <div class="flex d-flex-row content-between align-center border-all">
    <div class="margin-1">
      <p class="margin-0">This user has reported a comment about this anime.</p>
    </div>
    <div class="left-border">
      <button type="submit" class="button-danger margin-1">Delete</button>
    </div>
  </div>
</div>

<div class="flex d-flex-column">
  <div class="flex d-flex-row content-between align-center border-all">
    <div class="margin-1">
      <p class="margin-0">This user has reported a comment about this anime.</p>
    </div>
    <div class="left-border">
      <button type="submit" class="button-danger margin-1">Delete</button>
    </div>
  </div>
</div>
