<nav class="navbar navbar-expand-lg border-top" id="search_bar">
  <div class="collapse navbar-collapse container flex-nowrap">
    <input class="form-control" type="text" placeholder="Search with name, relase date or genre">
    <div class="d-flex flex-row ml-2">
      <div class="has-dropdown mr-2 align-self-center">
        <button class="btn ml-1" type="submit">Seasons</button>
      </div>

      <button class="btn" type="submit">Advanced Search</button>
    </div>
  </div>  
</nav>