<div class="col-md-6 offset-md-3">
  <h1 class="text-left display-4 mt-5 mb-5">Add Character</h1>

  <form>
    <fieldset class="form-group">
      <label for="name">Character name</label>
      <input type="text" class="form-control" id="name">
    </fieldset>
    
    <fieldset class="form-group">
      <label for="surname">Character surname</label>
      <input type="text" class="form-control" id="surname">
    </fieldset>

    <fieldset class="form-group">
      <label for="info">Character information</label>
      <input type="text" class="form-control" id="info">
    </fieldset>

    <fieldset class="mt-4 d-flex flex-row align-items-center">
      <a href="#" >Cancel </a>
      <button type="submit" class="btn btn-first btn-block ml-3">Add Character</button>
    </fieldset>
  </form>
</div>
