<div class="col-md-10 offset-md-1">
  <h1 class="text-left display-4 mt-5 mb-5">Add an Anime</h1>
  <form>
    <div class="form-group row">
      <label for="name" class="col-md-3 col-form-label">Anime name</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="name" placeholder="Naruto Shippuden">
      </div>
    </div>

    <div class="form-group row">
      <label for="image" class="col-md-3 col-form-label">Image</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="image" placeholder="image URL here">
      </div>
    </div> 

    <div class="form-group row">
      <label for="relaseYear" class="col-md-3 col-form-label">Release year</label>
      <div class="col-md-9">
        <input type="date" class="form-control" id="relaseYear" placeholder="2007">
      </div>
    </div>

    <div class="form-group row">
      <label for="endYear" class="col-md-3 col-form-label">End year</label>
      <div class="col-md-9">
        <input type="date" class="form-control" id="endYear" placeholder="2017">
      </div>
    </div>

    <div class="form-group row">
      <label for="linkToWatch" class="col-md-3 col-form-label">Link to watch</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="linkToWatch" placeholder="web site URL here">
      </div>
    </div> 

    <div class="form-group row">
      <label for="episodeNumber" class="col-md-3 col-form-label">Episode number</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="episodeNumber">
      </div>
    </div> 

    <div class="form-group row">
      <label for="seasonNumber" class="col-md-3 col-form-label">Season number</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="seasonNumber">
      </div>
    </div> 

    <div class="form-group row">
      <label for="description" class="col-md-3 col-form-label">Anime Description</label>
      <div class="col-md-9">
        <textarea class="form-control" id="description"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label for="tag_genre" class="col-md-3 col-form-label">Tags</label>
      <div class="col-md-9">
        <input class="form-control" type="text" placeholder="Write tags here">
      </div>
    </div>

    <div class="form-group row">
      <label for="characters" class="col-md-3 col-form-label">Characters</label>
      <div class="col-md-9">
        <div class="col-md-12 pl-0 d-flex flex-row pr-0">
          <input class="form-control col-md-10" type="text" placeholder="Search a character">
          <button class="btn ml-2 btn-block" type="submit">Search</button>
        </div>
        <div class="d-flex flex-row flex-wrap">
          <div class="card col-md-4 mt-2">
            <img class="card-img-top card-img mt-2" src="https://comicvine1.cbsistatic.com/uploads/original/11117/111179559/4247222-uzumaki_naruto_kyuubi_mode_by_megalow-d75kw96.png" alt="...">
            <div class="card-body p-0 d-flex flex-column">
              <small class="card-title mb-0">character name here</small>
              <a href="#" class="justify-content-end stretched-link text-danger mt-0 pl-0"><small>remove</small></a>
            </div>
          </div>
          <div class="card col-md-4 mt-2">
            <img class="card-img-top card-img mt-2" src="https://comicvine1.cbsistatic.com/uploads/original/11117/111179559/4247222-uzumaki_naruto_kyuubi_mode_by_megalow-d75kw96.png" alt="...">
            <div class="card-body p-0 d-flex flex-column">
              <small class="card-title mb-0">character name here</small>
              <a href="#" class="justify-content-end stretched-link text-danger mt-0 pl-0"><small>remove</small></a>
            </div>
          </div>
          <div class="card col-md-4 mt-2">
            <img class="card-img-top card-img mt-2" src="https://comicvine1.cbsistatic.com/uploads/original/11117/111179559/4247222-uzumaki_naruto_kyuubi_mode_by_megalow-d75kw96.png" alt="...">
            <div class="card-body p-0 d-flex flex-column">
              <small class="card-title mb-0">character name here</small>
              <a href="#" class="justify-content-end stretched-link text-danger mt-0 pl-0"><small>remove</small></a>
            </div>
          </div>
          <div class="card col-md-4 mt-2">
            <img class="card-img-top card-img mt-2" src="https://comicvine1.cbsistatic.com/uploads/original/11117/111179559/4247222-uzumaki_naruto_kyuubi_mode_by_megalow-d75kw96.png" alt="...">
            <div class="card-body p-0 d-flex flex-column">
              <small class="card-title mb-0">character name here</small>
              <a href="#" class="justify-content-end stretched-link text-danger mt-0 pl-0"><small>remove</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row offset-md-3">
      <button type="submit" class="btn btn-first btn-block col-md-12 ">Add Anime</button>
    </div>
  </form>  
</div>


