header, footer{
  background-color: #ccd2ce !important;
  opacity: 0.85;
}

body {
  color: #3f3445 !important;
}

header a, footer a {
  color: #6b6d6c ;

  &:hover,
  &:focus,
  &:active {
    color: #3f4f60;
  }
}

.active {
  color: #3f4f60 !important;
}

.admin-nav-link {
  color: #82441c;
  display: block;
  padding: 0.5rem 0.5rem;

  &:hover,
  &:focus,
  &:active {
    color: #3f4f60;
    text-decoration: none;
  }
}

.admin-active {
  color: #c17544;
} 

.navbar-brand {
  color: #3f3445 !important;
  font-weight: bold;
}

.btn-first {
  color: #3f3445;
  background-color: #ccd2ce;
  border-color: #ccd2ce;
  
  &:hover,
  &:focus,
  &:active {
    color:  #ccd2ce;
    background-color: #38424d;
    border-color: #38424d;
  }
}
