header, footer{
  background-color: #ccd2ce !important;
  opacity: 0.85;
}

body {
  color: #3f3445 !important;
}

a {
  color: #6b6d6c ;
  padding: 0.5rem;

  &:hover,
  &:focus,
  &:active {
    color: #56162e;
    text-decoration: none;
  }
}

header .active, footer .active {
  color: #56162e !important;
  text-decoration: underline;
}

.admin-nav-link {
  color:  #634545;
  display: block;

  &:hover,
  &:focus,
  &:active {
    color: #56162e;
    text-decoration: none;
  }
}

.navbar-brand {
  color: #3f3445 !important;
  font-weight: bold;
}

