.has-dropdown{
  position: relative;
}

.dropdown{
  background-color: inherit;
  display: none;
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
  white-space: nowrap;
  
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  border-radius: 3px;
}

.has-dropdown button:hover + .dropdown,
.has-dropdown button:focus + .dropdown,
.dropdown:hover,
.dropdown:focus {
  display: block;
}

.dropdown li {
  border-bottom: 1px solid #e3e5e9;
}

.dropdown li:last-child {
  border: none;
}

.dropdown input {
  background-color: white;
  padding: 0.6em 1.6em;
  font-size: 1rem;
  display: inline-block;
  border: none;
  text-align: center;
  min-width: 7.2rem;

  &:hover,
  &:focus {
    color:  #ccd2ce;
    background-color: #38424d;;
  }
}
