.flex {
  display: flex;
}

.d-flex-column {
  flex-direction: column;
}

.d-flex-row {
  flex-direction: row;
}

.content-between {
  justify-content: space-between;
}

.content-center {
  justify-content: center;
}

.flex-basis-40 {
  flex: 0 0 40%;
} 

.flex-basis-auto {
  flex: 1 1 auto;
}
