.border-all {
  border: 1px solid #dee2e6;
  margin-top: 1.5rem;
}

.left-border {
  border-left: 1px solid #dee2e6;
}

.border-curve {
  border-radius: calc(0.25rem - 1px);
} 

.align-center {
  align-items: center;
}

.padding-0 {
  padding: 0;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.profile-image {
  max-height: 20rem;
}
.profile-image img{
  height:100%;
  object-fit:cover;
  width: 100%;
  object-position:top;
}
