<div class="grid-container-for-5 margin-top-1">
  <% content.each do |content| %>
    <div class="grid-item">
      <div class="flex content-center">
        <%= link_to image_tag(content.image, alt: "Avatar for #{content.name}"), content_path(content) %>
      </div>
      <div class="text-align-center margin-top-auto">
        <%= content.name %>
      </div>
    </div>
  <% end %>
</div>
