<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <%= render partial: 'logo' %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%= render(partial:'active_nav_item', locals:{ border: true, title:'Home', uri: root_path }) %>
        <%= render(partial:'active_nav_item', locals:{ border: false, title:'Search', uri: search_path }) %>
      </ul>
      
      </div>
    </div>
  </nav>
</header>
