<!DOCTYPE html>
<html>
  <head>
    <title>ManAnime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <h1>ManAnime</h1>
          <div>
            <ul>
              <li>Home</li>
              <li>Search</li>
              <li>Login</li>
              <li>Signup</li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
